{% extends 'ride/base.html' %}

{% load static %}

{% block title %}
    Your orders
{% endblock %}

{% block body %}
    <div>
    <h1>choose an order to drive</h1>
    <p>If you accept an order with a too large number of passengers, this acceptence will not be successful. </p>
    <table border="3",cellpadding="10" cellspacing="20">>
        <thead>
        <tr>
            <th>rider</th>
            <th>starting_address</th>
            <th>destination</th>
            <th>arrival date</th>
            <th>arrival time</th>
            <th>number of passengers</th>
            <th>preferred vehicle type</th>
            <th>driver</th>
            <th>sharer</th><!--check if need to add sharer's destination-->
            <th>specail_requests</th>
            <th>status</th>
            <th>click to accept</th>

        </tr>
        </thead>
        <tbody>

            {% for order in waitingorders %}
            <tr>
                <th>{{ order.owner_id }}</th>
                <th>{{ order.starting_address }}</th>
                <th>{{ order.destination_address }}</th>
                <th>{{ order.required_arrival_date }}</th>
                <th>{{ order.required_arrival_time }}</th>
                <th>{{ order.number_of_passengers }}</th>
                <th>{{ order.preferred_vehicle_type }}</th>
                <th>{{ order.driver_id }}</th>
                <th>{{ order.sharer_id }}</th>
                <th>{{ order.special_requests }}</th>
                <th>{{ order.status }}</th>
                <th>
                    <a href="{% url 'ride:driver_choose' order.id %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Accept
                    </button>
                    </a >
                </th>
            </tr>
            {% endfor %}


        </tbody>
    </table>
    </div>
       

{% endblock %}