{% extends 'ride/base.html' %}
{% block title %}Create a New Order{% endblock %}
{% block OrderInfo_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create a New Order</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ride/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Ubber</h3>
                    <p>Ubber is an app that allows you to get a ride or be a driver or both.</p>
                    <h3>How to become a driver?</h3>
                    <p>Go to change your is_driver status to be a driver.</p>
                    <a href="login.html">click here</a>
                    <h3>How to create an order?</h3>
                    <p>You need to fill the <b>starting address</b> and the <b>destination address</b>.</p>
                    <p>If you don't change <b>share permission</b>, the default is you don't allow sharing.</p>
                    <p>You could change the <b>date</b> and <b>time</b> in the sample format.</p>
                    <p><b>Preferred vehicle type</b> and <b>Special requests</b> aren't required, the default message is none. </p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}