{% extends 'ride/base.html' %}

{% load static %}

{% block title %}
    Your orders
{% endblock %}

{% block body %}
    <h1>Your order's detail</h1>
    <table border="3",cellpadding="10" cellspacing="20">>
        <thead>
        <tr>
            <th>rider</th>
            <th>starting_address</th>
            <th>destination</th>
            <th>arrival date</th>
            <th>arrival time</th>
            <th>number of passengers</th>
            <th>dirvers'car capacity</th>
            <th>preferred vehicle type</th>
            <th>driver</th>
            <th>sharer</th><!--check if need to add sharer's destination-->
            <th>specail_requests</th>
            <th>status</th>
            <th>complete</th>



        </tr>
        </thead>
        <tbody>
        {% if order %}
            <tr>
                <th>{{ order.owner_id }}</th>
                <th>{{ order.starting_address }}</th>
                <th>{{ order.destination_address }}</th>
                <th>{{ order.required_arrival_date }}</th>
                <th>{{ order.required_arrival_time }}</th>
                <th>{{ order.number_of_passengers }}</th>
                <th>{{ order.dirvers_car_capacity}}</th>
                <th>{{ order.preferred_vehicle_type }}</th>
                <th>{{ order.driver_id }}</th>
                <th>{{ order.sharer_id }}</th>
                <th>{{ order.special_requests }}</th>
                <th>{{ order.status }}</th>
                <th>
                    <a href="{% url 'ride:complete' order.id %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; complete
                    </button>
                    </a >
                </th>

            </tr>
        {% endif %}

        </tbody>
    </table>

{% endblock %}