{% extends 'ride/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="OrderInfo-container container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Orders</h3>
        </div>
        <div class="col-sm-12">
        <h4><a href="{% url 'ride:profile_detail' %}">{{ user.username}}'s Profile</a> </h4>
        </div>

        <div class="col-sm-12">
            <h4>orders you created</h4>
        {% if created_orders %}

            {% for order in created_orders %}
            <li><a href="{% url 'ride:detail' order.id %}">{{ order.created_time }}</a> </li>

                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'ride:create_order' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Create an order
                    </button>
                </a >
            </div>
        </div>

        <div class="col-sm-12">
            <h4>orders you shared</h4>
        {% if shared_orders %}

            {% for order in shared_orders %}
            <li><a href="{% url 'ride:detail' order.id %}">{{ order.created_time }}</a> </li>

                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}

            <div class="col-sm-12">
                <br>
                <a href="{% url 'ride:sharersearch' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Join an order
                    </button>
                </a >
            </div>
        </div>

        <div class="col-sm-12">
            <h4>orders you accepted</h4>
        {% if drived_orders %}

            {% for order in drived_orders %}
            <li><a href="{% url 'ride:driverdetail' order.id %}">{{ order.created_time }}</a> </li>

                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'ride:driversearch' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Accept an order
                    </button>
                </a >
            </div>
            <a href="{% url 'ride:update_profile' %}">If you are not a driver, click here</a>
        </div>

    </div>

</div>
{% endblock %}