{% extends 'ride/base.html' %}

{% load static %}

{% block title %}
    Your orders
{% endblock %}

{% block body %}
    <h1 class="col-sm-12">choose an order to join</h1>
    <table border="3",cellpadding="10" cellspacing="20" class="col-sm-12">
        <thead>
        <tr>
            <th>rider</th>
            <th>destination</th>
            <th>arrival date</th>
            <th>arrival time</th>
            <th>number of passengers</th>
            <th>preferred vehicle type</th>
            <th>driver</th>
            <th>sharer</th><!--check if need to add sharer's destination-->
            <th>specail_requests</th>
            <th>status</th>
            <th>car's capacity</th>
            <th>click to choose</th>
        </tr>
        </thead>
        <tbody>

            {% for order in shareorders %}
            <tr>
                <th>{{ order.owner_id }}</th>
                <th>{{ order.destination_address }}</th>
                <th>{{ order.required_arrival_date }}</th>
                <th>{{ order.required_arrival_time }}</th>
                <th>{{ order.number_of_passengers }}</th>
                <th>{{ order.preferred_vehicle_type }}</th>
                <th>{{ order.driver_id }}</th>
                <th>{{ order.sharer_id }}</th>
                <th>{{ order.special_requests }}</th>
                <th>{{ order.status }}</th>
                <th>{{ order.dirvers_car_capacity }}</th>
                <th>
                    <a href="{% url 'ride:sharer_ask' order.id %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Join
                    </button>
                    </a >
                </th>
            </tr>
            {% endfor %}
        

        </tbody>
    </table>
<div class="col-sm-12">
    <body>
    <h3>mention:</h3>
    you couldn't join an order if the total number of passengers exceeds the capacity of the car
    </body>
</div>

{% endblock %}