{% extends 'ride/base.html' %}

{% load static %}

{% block title %}
    Your Profile
{% endblock %}

{% block body %}
<div>
    <h1>{{user.username}} Profile</h1>
    <table border="3",cellpadding="10" cellspacing="20">
        <thead>
        <tr>
            <th>user</th>
            <th>phone</th>
            <th>is_driver</th>
            <th>vehicle_type</th>
            <th>vehicle_license</th>
            <th>vehicle_max_passenger</th>
            <th>vehicle_special_info</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        {% if user %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.profile.phone}}</td>
                <td>{{user.profile.is_driver}}</td>
                <td>{{user.profile.vehicle_type}}</td>
                <td>{{user.profile.vehicle_license}}</td>
                <td>{{user.profile.vehicle_max_passenger}}</td>
                <td>{{user.profile.vehicle_special_info}}</td>
                <td>{{user.email}}</td>
            </tr>
        {% endif %}

        </tbody>
    </table>
</div>
<div class="col-sm-12">
                <br>
                <a href="{% url 'ride:update_profile' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Update your profile or to be a driver
                    </button>
                </a >
</div>

{% endblock %}
