{% extends 'ride/base.html' %}
{% block title %}Sharersearch{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Please provide your requirements</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p >
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ride/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                     Want to create your own order? <a href="{% url 'ride:create_order' %}">Click here</a> to create.
                </div>
            </div>
        </div>


 <div class="col-sm-12 col-md-5" style="right: 0px; top: 0px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Ubber</h3>
                    <p>Ubber is an app that allows you to get a ride or be a driver or both.</p>
                    <h3>How to join an order?</h3>
                    <p>You need to fill the <b>starting address</b> and the <b>destination address</b>.</p>
                    <p>If you don't change <b>required arrival date</b>, the default is the current date.</p>
                    <p>You must enter <b>number of passengers</b>, then we will find the most suitable order for you. </p>
                </div>
            </div>
 </div>
</div>
</div>
{% endblock %}