{% extends 'ride/base.html' %}
{% block title %}Ask for sharing an order{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Join this order as a sharer </h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p >
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ride/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                     Want to create a new order? <a href="{% url 'ride:create_order' %}">Click here</a> to create your new order.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}