{% extends 'ride/base.html' %}
{% block title %}Change & Complete your profile{% endblock %}
{% block OrderInfo_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Change & Complete your profile</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ride/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Ubber</h3>
                    <p>Ubber is an app that allows you to get a ride or be a driver or both.</p>
                    <h3>How do I become a driver?</h3>
                    <p>go to change your is_driver status to be a driver.</p>
                    <a href="login.html">click here</a>
                </div>
            </div>
        </div>

    </div>
        </div>
    </div>

</div>
{% endblock %}